.about-section {
    text-align: center;
    padding: 40px 0;
    color: white;
}

.about-section h2 {
    font-family: 'ModernWarfare', sans-serif; /* Match font to navbar */
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.about-section p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
}